main.international-apirants {
    .online-booking.online-booking-int-asp {
        background-image: url("../images/study-bg.png");
        h2 {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 36px;
        }
        .teacher {
            width: 13%;
        }
        .last-para > div {
            padding-left: 0;
        }
        .tructed-text {
            max-width: 45%;
        }
    }
    .home-hero {
        &%background-props {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right center;
        }
    }
    @function wordSpacing($spacing) {
        @return $spacing;
    }
    .int-service-bg {
        background-image: url(../images/page-2-bg.svg);
        @extend %background-props;
    }
    .int-recruiting-agent {
        background-image: url(../images/page-3-hero.svg);
        @extend %background-props;
        h2 + p {
            word-spacing: wordSpacing(2px);
        }
    }
    .fs-36 {
        font-size: 36px;
    }
    .fs-48 {
        font-size: 48px;
    }
    .fw-500 {
        font-weight: 500;
    }
    .width-50 {
        width: 50px;
    }
    .height-12 {
        height: 12px;
    }
    .width-150 {
        width: 150px;
    }
    .br-20 {
        border-radius: 20px;
    }
    .btn-warning {
        background: #e3a311;
    }
    .width-92 {
        width: 92%;
    }
    .career-programs {
        background: #adceff;
        .red-text {
            color: #e31e24;
            word-spacing: 3px;
        }
        .right-section {
            border-radius: 20px;
            + p {
                color: #001343;
                font-size: 24px;
                padding-left: 40px;
                padding-right: 40px;
                word-spacing: 4px;
            }
        }
    }
    .study-section {
        background: #feffc5;
        .btn-style {
            background: #755912;
            font-size: 48px;
            border-radius: 20px;
        }
        .text-study {
            color: #434400;
            width: 64.5%;
            margin: auto;
            span {
                padding-right: 14.1px;
            }
        }
        &.extended {
            background: #e9d7c3;
            .btn-style {
                background: #4b0303;
            }
            .text-study {
                color: #a05400;
            }
            .btn-warning {
                background: #9b691f;
                & + p {
                    color: #9b691f;
                }
            }
        }
    }
    .primary-btn {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .student-facilities {
        background: #cfffd0;
        &.exteded {
            background: #730000;
            .btn {
                color: #730000;
            }
            .fw-bolder {
                font-weight: 900 !important;
            }
        }
        .text-grey {
            color: #bebebe;
        }
    }
    #staticBackdrop {
        .modal-dialog {
            max-width: initial;
            height: 100%;
            min-height: initial;
        }
    }
    /* carousel started  */
    .carousel-dark .carousel-indicators {
        margin-right: 0;
        margin-left: 0;
        height: 110px;
        bottom: -32px;
        align-items: center;
        [data-bs-target] {
            background-color: #fff;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            position: relative;
            margin-right: 140px;
            margin-left: 140px;
            opacity: 1;
            &.active::before {
                content: "";
                position: absolute;
                left: 0;
                height: 100px;
                width: 100px;
                background: url(./../../assets/images/page-2-sec1-b.png);
                left: -30px;
                top: -30px;
            }
            &:not(:last-child)::after {
                content: "";
                height: 12px;
                width: 150px;
                background: #fff;
                position: absolute;
                left: 112px;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                border-radius: 50px;
               
            }
        }
    } 
    /* Carousel end */   
}
